*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial;
  font-size: 1rem;
}

button {
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
