*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial;
  font-size: 1rem;
  background-color: rgb(0, 142, 155);
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
