@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto";
  background-color: #87d3ff;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

input {
  outline: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}