.workout-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 50px 0;
}

.workout-form__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.workout-form__label {
  font-size: 1rem;
  margin-bottom: 10px;
}

.workout-form__input {
  font-size: 1rem;
  padding: 20px 30px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.workout-form__submit {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 20px 30px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.workout-form__submit:hover {
  background-color: #000000;
  color: #ffffff;
}
