@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(54, 172, 250);
}

button {
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  line-height: 100%;
}

textarea {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1rem;
}

textarea:focus {
  outline: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
